.button {
    margin-top: 20px;
    font-size: 20px;
    border: 2px solid transparent;
    background-color: rgb(25, 184, 190);
    color: white;
    padding: 6px 10px;
    border-radius: 7px;
    transition: background-color 2s, color 0.3s, border 2s;
}
.button:hover {
    background-color: white;
    color: rgb(25, 184, 190);
    border: 2px solid rgb(25, 184, 190);
    cursor: pointer;
}